@font-face {
    font-family: "Merriweather Digits";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/merriweather/v19/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
    unicode-range: U+30-39;
}

:root {
    --base-font: "Merriweather Digits", "Bitter", Georgia, Arial, sans-serif;
    --base-native-digits-font: "Bitter", Georgia, Arial, sans-serif;
    --heading-font: "IM Fell DW Pica", "Bitter", Georgia, Arial, sans-serif;
    --code-font: Consolas, Monaco, monospace;
}
body {
    --text-color: #373737;
    --bg-color: #ffffff;
    --shade-color: #e0e0e0;
    --highlight-color: #c7c7c7;
    --puppeteer-color: #1c8978;
    --ul-bullet: url(../images/tech/ul_bullet_day.png);
}
body.night-mode{
    --text-color: #b5b5b5;
    --bg-color: #1e1e1e;
    --shade-color: #2f2f2f;
    --highlight-color: #909090;
    --puppeteer-color: #83bdb4;
    --ul-bullet: url(../images/tech/ul_bullet_night.png);
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
html {
    font-size: 18px;
}
body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    background: var(--bg-color);
    line-height: 1.7;

    -webkit-transition: background 250ms ease, color 250ms ease;
    -moz-transition: background 250ms ease, color 250ms ease;
    -ms-transition: background 250ms ease, color 250ms ease;
    -o-transition: background 250ms ease, color 250ms ease;
    transition: background 250ms ease, color 250ms ease;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    font-weight: 300;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
    padding-top: 3.25rem;
}
h3 {
    font-size: 1.25rem;
    margin-top: 80px;
    margin-bottom: 0;
}
h4 {
    border-bottom: 2px solid var(--text-color);
    margin-bottom: 0;
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.wrapper {
    font-family: var(--base-font);
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
    color: var(--text-color);
}
.tooltip {
    position: relative;
    display: inline-block;
    line-height: 1em;
    text-decoration: underline;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: var(--text-color);
    color: var(--bg-color);
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    line-height: 1.2em;
    position: absolute;
    z-index: 30;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
    opacity: 0;

    -webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    -ms-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

p.annotation {
    opacity: 0.8;
    line-height: 1.6rem;
    border-top: 1px solid var(--shade-color);
    border-bottom: 1px solid var(--shade-color);
    padding: 1rem 0;
}
p.annotation + p.annotation {
    border-top: 0;
    padding-top: 0;
}

#btn-show-sidebar {
    z-index: 100;
}

@media all and (min-width:1000px) {
    .wrapper {
        width: 100%;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 64px;
        padding-bottom: 64px;
    }
    #btn-show-sidebar, #sidebar{
        position: fixed;
        float: left;
        left: 0;
        padding-left: 1rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #btn-show-sidebar {
        top: 0;
        padding: 1rem;
        line-height: 0rem;
        cursor: pointer;
    }
    #sidebar,
    #sidebar.expand-sidebar {
        -webkit-transition: transform 400ms ease, opacity 400ms ease;
        -moz-transition: transform 400ms ease, opacity 400ms ease;
        -ms-transition: transform 400ms ease, opacity 400ms ease;
        -o-transition: transform 400ms ease, opacity 400ms ease;
        transition: transform 400ms ease, opacity 400ms ease;
    }
    #sidebar {
        font-size: 16px;
        top: 3rem;

        opacity: 0;
        pointer-events: none;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    #sidebar.expand-sidebar{
        opacity: 1;
        pointer-events: unset;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    #content {
        margin-left: 15rem;
        margin-right: 11rem;
        padding-top: 0.25rem;
    }
}
@media all and (max-width:1000px) {
    .wrapper {
        width: 100%;
        padding-bottom: 64px;
    }
    #sidebar {
        position: relative;
        width: 100%;
        z-index: 20;
        margin: 0 6rem;
    }
    #title {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background-color: var(--bg-color);
    }
    #fade-top {
        top: 70px;
    }
    #content {
        margin: 4rem;
        padding-top: 0.25rem;
    }
}
@media all and (max-width: 512px) {
    #content {
        margin: 1.5rem;
    }
}

#table-of-contents {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}
#table-of-contents span + span {
    float: right;
    padding-left: 0.33em;
}
.ui-link,
.ui-link:hover {
    -webkit-transition: background 250ms ease, color 250ms ease;
    -moz-transition: background 250ms ease, color 250ms ease;
    -ms-transition: background 250ms ease, color 250ms ease;
    -o-transition: background 250ms ease, color 250ms ease;
    transition: background 250ms ease, color 250ms ease;
}
.ui-link {
    font-style: italic;
    cursor: pointer;

    background: var(--bg-color);
}
.ui-link:hover{
    background: var(--shade-color);
}

#sidebar ul {
    list-style: none;
    line-height: 1.4rem;
    padding-left: 0;
}

#title {
    font-size: 1.1rem;
    text-align: center;
}
#title i,
#title i:hover {
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}
#title i {
    padding: 0.45rem;
    font-size: 1.2rem;
    vertical-align: middle;
    cursor: pointer;
    color: var(--text-color);

    opacity: 0.4;
}
#title i:hover {
    opacity: 1;
}

#fade-top, #fade-bottom {
    pointer-events: none;
    width: 100%;
    height: 80px;
    z-index: 10;
    position: fixed;
}
#fade-top {
    background: linear-gradient(var(--bg-color), #00000000);
}
#fade-bottom {
    bottom: 0;
    background: linear-gradient(#00000000, var(--bg-color));
}

.chapter-title{
    text-align: right;
    margin-bottom: 0;
    margin-top: 2rem;
}
.chapter-desc {
    font-family: var(--base-native-digits-font);
    font-style: italic;
    text-align: right;
    line-height: 1.25rem;
    opacity: 0.6;
    margin-top: 0;
    margin-bottom: 4rem;
}

#chapter-end {
    border-top: 1px solid var(--shade-color);
    margin-bottom: 6rem;
    margin-top: 2rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#chapter-end .prev,
#chapter-end .next {
    padding: 0.5rem 0;
    width: 50%;
}
#chapter-end .prev {
    text-align: left;
    float: left;
}
#chapter-end .next {
    text-align: right;
    float: right;
}
#chapter-end .prev::before,
#chapter-end .next::after {
    font-size: 2rem;
    vertical-align: sub;
    line-height: 1rem;
    font-style: normal;
}
#chapter-end .prev::before {
    content: "⟵ ";
}
#chapter-end .next::after {
    content: " ⟶";
}

ul {
    list-style-type: none;
    list-style-image: var(--ul-bullet);
}

.poem {
    font-family: var(--base-native-digits-font);

    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
    margin-top: 1rem;
}
.emoji {
    display: inline-block;
    width: 1rem;
    margin: 0;
    padding: 0;
}
pre, code {
    overflow-x: scroll;
    margin-top: 0;
}
.code-block, .code-inline {
    border: 1px solid var(--shade-color);
    border-radius: 4px;
}
.code-block {
    padding: 8px;
}
.code-inline {
    padding: 2px;
}
.text-right {
    text-align: right;
}
a,
a:hover {
    -webkit-transition: background 200ms;
    -moz-transition: background 200ms;
    -ms-transition: background 200ms;
    -o-transition: background 200ms;
    transition: background 200ms;
}
a {
    color: var(--text-color);
    text-decoration: none;
    font-style: italic;
    border-bottom: 1px solid var(--shade-color);
}
a:hover {
    background: var(--shade-color);
}

blockquote {
    line-height: 1.5;
    font-style: italic;
    margin-left: 0;
    padding: 1em;
    border-left: 1px solid var(--text-color);
}
.quote p {
    text-indent: -1em;
    padding-left: 1em;
}
.quote p+p {
    text-indent: 0;
}
.QA {
    font-style: italic;
}
.QA td {
    padding: 0;
}
td.Q, td.A {
    font-size: 0.9rem;
    text-align: right;
    padding-right: 1rem;
    vertical-align: top;
}
.A {
    color: var(--puppeteer-color);
}
tr.space {
    height: 1.5rem;
}

code {
    font-family: var(--code-font);
}
hr {
    border: 1px solid var(--shade-color);
}

.killcount {
    text-align: center;
    margin: 4rem;
}

.collapsible,
.collapsible:hover,
.collapsible:active {
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}
.collapsible {
    width: 100%;
    padding: 12px;
    background: transparent;

    font-family: var(--base-font);
    font-size: 0.9rem;
    color: var(--text-color);
    text-align: left;
    line-height: 1.5;
    
    cursor: pointer;
    border: none;
    outline: none;
}
.collapsible:hover,
.collapsible.active {
    background: var(--shade-color);
}
.collapsible i {
    padding-right: 8px;
}
.collapsible-content {
    display: none;
    overflow: hidden;
    background: #222;
    color: #fff;
}
.collapsible-content + .collapsible {
    padding-top: 8px;
    padding-bottom: 8px;
}
.collapsible-content p {
    padding-left: 0.5rem;
    margin-bottom: 0.25rem;
    margin-top: 2rem;
}

.youtube {
  background-color: #000;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -22.44%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;

    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.youtube .play-button:hover {
    background-color: #f00;

    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .youtube-title,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.youtube .youtube-title {
    width: 95%;
    top: 0;
    z-index: 1;
    padding: 0.8rem;
    font-size: 1.2rem;
    background: linear-gradient(black, #00000000);
    text-shadow: 3px 3px 5px black;
}

table {
    width: 100%;
}
td, th {
    padding: 0.5rem;
    text-align: left;
    vertical-align: top;
}
table .fas {
    font-size: 0.8rem;
}



.video-date {
    margin-right: 1rem;
    opacity: 0.5;
}
.icon-expand {
    opacity: 0.5;
}
.material-icons {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.f-r {
    float: right;
}
.f-l {
    float: left;
}
.mb-05 {
    margin-bottom: 0.5rem;
}

.text-bold {
    font-weight: 600;
}

::selection {
    background: var(--highlight-color);
}