/** {*/
    /*outline: 1px solid red;*/
    /*opacity: 1 !important;*/
    /*visibility: visible !important;*/
/*}*/


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
html {
    font-size: 20px;
}
body, body.night-mode {
    text-rendering: optimizeLegibility;
    margin: 0;
    background: var(--bg-color);
    line-height: 1.5;
}
body {
    --text-color: #373737;
    --bg-color: #ffffff;
    --shade-color: #e0e0e0;
    --link-color: #267CB9;
    --link-active-color: #30b1e4;
    --puppeteer-color: #1c8978;
    --ul-bullet: url(../images/tech/ul_bullet_day.png);
}
body.night-mode{
    --text-color: #b5b5b5;
    --bg-color: #1e1e1e;
    --shade-color: #4e4e4e;
    --link-color: #7faad3;
    --link-active-color: #a7ddff;
    --puppeteer-color: #83bdb4;
    --ul-bullet: url(../images/tech/ul_bullet_night.png);
}
h1, h2, h3, #title{
    font-family: "Pirata One";
    font-weight: 300;
}
h1 {
    font-size: 1.75rem;
    padding-top: 3rem;
}
h2 {
    font-size: 1.8rem;
    padding-top: 3.25rem;
}
h3 {
    font-size: 1.25rem;
    margin-top: 80px;
    margin-bottom: 0;
}
p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}



@media all and (min-width:1000px) {
    .wrapper {
        width: 100%;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 64px;
        padding-bottom: 64px;

        color: var(--text-color);
        font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
    }
    #sidebar {
        position: fixed;
        float: left;
        width: 18.5rem;
        z-index: 20;
    }
    #content {
        margin-left: 19.5rem;
        margin-right: 4rem;
        padding-top: 0.25rem;
    }
    .tooltip {
        position: relative;
        display: inline-block;
        line-height: 1em;
        border-bottom: 1px solid var(--text-color);
    }
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 400px;
        background-color: #444;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 20px 0px 30px 0px;
        line-height: 1.2em;
        position: absolute;
        z-index: 30;
        bottom: 125%;
        left: 50%;
        margin-left: -200px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }


}
@media all and (max-width:1000px) {
    .wrapper {
        width: 100%;
        padding-bottom: 64px;

        color: #373737;
        font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
    }
    #sidebar {
        position: relative;
        width: 100%;
        z-index: 20;
        margin: 0 6rem;
    }
    #title {
        position: fixed;
        width: 100%;
        padding: 1rem;
        background-color: var(--bg-color);
    }

    #content {
        margin: 6rem;
        padding-top: 0.25rem;
    }
    .tooltip {
        position: relative;
        display: inline-block;
        line-height: 1em;
        border-bottom: 1px solid var(--text-color);
    }
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 400px;
        background-color: #444;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 20px 0px 30px 0px;
        line-height: 1.2em;
        position: absolute;
        z-index: 30;
        bottom: 125%;
        left: 50%;
        margin-left: -200px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

}

.pushable, .pushable:hover {
    transition: opacity 0.3s ease;
}
.pushable {
    color: var(--text-color);
    cursor: pointer;

    opacity: 0.5;
}
.pushable:hover {
    opacity: 1;
}

.sidebar-item {
    text-align: center;
    padding-top: 0.75rem;
}

#sidebar ul {
    list-style: none;
    font-size: 18px;
    padding-left: 5rem;
}
#sidebar a, li, a:hover, li:hover {
    transition: 0.3s ease;
}
#sidebar a {
    color: var(--text-color);
    opacity: 0.6;
    margin: 0.25rem 0;
}
#sidebar a:hover {
    opacity: 1;
}

#title {
    font-size: 1.5rem;
    text-align: center;
}
#title i {
    padding: 0.45rem;
    font-size: 1.2rem;
    vertical-align: middle;
    cursor: pointer;
    color: var(--text-color);
    opacity: 0.4;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
#title i:hover {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

#fade-top, #fade-bottom {
    pointer-events: none;
    width: 100%;
    height: 128px;
    z-index: 10;
    position: fixed;
}
#fade-top {
    background: linear-gradient(var(--bg-color), #00000000);
}
#fade-bottom {
    bottom: 0;
    background: linear-gradient(#00000000, var(--bg-color));
}

.chapter-title{
    text-align: right;
    opacity: 0.4;
    margin-bottom: 0;
}
.chapter-desc {
    text-align: right;
    font-style: italic;
    opacity: 0.6;
    margin-top: 0;
}
.space-between-chapters {
    height: 35rem;
}

.title-transition {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.title-text {
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

#chapter-prev, #chapter-next {
    margin-top: -0.2rem !important;
    opacity: 1;
}

ul {
    list-style-type: none;
    list-style-image: var(--ul-bullet);
}

.poem {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--shade-color);
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
    margin-top: 1rem;
}
.emoji {
    display: inline-block;
    width: 1rem;
    margin: 0;
    padding: 0;
}
pre {
    font-family: Consolas, monospace;
    overflow-x: auto;
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid var(--shade-color);
    border-radius: 10px;
}
pre.poem {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: transparent;
    padding: 10px;
}
a {
    color: var(--link-color);
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
a:hover {
    color: var(--link-active-color);
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
blockquote {
    font-size: 0.9rem;
    font-style: italic;
    margin-left: 0;
    padding: 1em;
    border-left: 1px solid var(--text-color);
}

.QA {
    font-style: italic;
}
.QA td {
    padding: 0;
}
td.Q, td.A {
    font-size: 0.9rem;
    text-align: right;
    padding-right: 1rem;
    vertical-align: top;
}
.A {
    color: var(--puppeteer-color);
}
tr.space {
    height: 1.5rem;
}

code {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    font-size: 0.9rem;
}

.killcount {
    text-align: center;
    margin: 4rem;
}

.collapsible,
.collapsible:hover,
.collapsible:active {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.collapsible {
    width: 100%;
    background: transparent;
    color: var(--text-color);
    padding: 12px;
    /*margin-bottom: 3px;*/
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

    opacity: 0.8;
}
.collapsible:hover,
.collapsible.active{
    opacity: 1;
}
.collapsible.active {
    background: var(--text-color);
    color: var(--bg-color);
}
.collapsible i {
    padding-right: 8px;
}
.collapsible_content {
    display: none;
    overflow: hidden;
    background: #222;
    color: #fff;
}
.collapsible_content + .collapsible {
    padding-top: 8px;
    padding-bottom: 8px;
}
.collapsible_content p {
    padding-left: 0.5rem;
    margin-bottom: 0.25rem;
    margin-top: 2rem;
}

.youtube {
  background-color: #000;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -22.44%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
    transition: 0.4s ease;
}
.youtube .play-button:hover {
    background-color: #f00;
    transition: 0.4s ease;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .youtube-title,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.youtube .youtube-title {
    width: 95%;
    top: 0;
    z-index: 1;
    padding: 0.8rem;
    font-size: 1.2rem;
    background: linear-gradient(black, #00000000);
    text-shadow: 3px 3px 5px black;
}

table {
    width: 100%;
}
td {
    padding: 0.5rem;
}
table .fas {
    font-size: 0.8rem;
}

h4 {
    text-align: right;
    border-bottom: 2px solid var(--text-color);
    margin-bottom: 0;
}


.video-date {
    margin-right: 1rem;
    opacity: 0.5;
}
.icon-expand {
    opacity: 0.5;
}
.material-icons {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    line-height: 1.2;
}
.f-r {
    float: right;
}
.f-l {
    float: left;
}